<%= form_tag configs_path, method: :get  do %>
  <div style="display: flex;">
    <div class="input-group config_search">
      <span class="input-group-addon colors"><i class="fa fa-search"></i></span>
      <%= text_field_tag :title, params[:title], placeholder: 'Configuration Name',class: "form-control fields" %>
    </div>

    <div class="input-group" style="width: 10%;">
      <%= submit_tag "Search", class: "btn btn-sm btn-primary config_search_btn" %>
    </div>
  </div>
<% end %>
