<% @order.line_items.each do |line_item| %>
  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320.0px;max-width: 500.0px;width: 500.0px;background-color: white;border-width: 2px;border-color: darkgray;border-style: solid;" class="block-grid two-up">
      <div style="border-collapse: collapse;display: table;width: 100%;">
        <div class="col num6" style="float: left;max-width: 180px;min-width: 150px;width: 150px;width: calc(35250px - 7000%);background-color: transparent; ">
          <div style="background-color: transparent; width: 100% !important;">
            <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding: 14px;">
              <div align="center" class="img-container center" style="padding-right: 0px;  padding-left: 0px;">
                  <img class="center" border="0" src= <%= line_item.image %> alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none; width: auto; max-height: 80px; min-width: 80px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col num6" style="Float: left;max-width: 350px;min-width: 300px;width: 350px;width: calc(35250px - 7000%);background-color: transparent;     padding: 16px 0px; ">
          <div style="background-color: transparent; width: 100% !important;">
            <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-right: 0px; padding-left: 10px;">
              <div style="padding-right: 0px; padding-left: 0px; padding-top: 6px;padding-bottom: 4px;">
                <div style="font-size:14px;line-height:17px;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px"><span style="font-size: 20px; line-height: 24px;"><strong><span style="font-family: arial, helvetica, sans-serif; line-height: 24px; font-size: 20px;"><%= line_item.name.try(:titleize) %></span></strong></span></p>
                </div>
              </div>

              <div style="padding-right: 0px; padding-left: 0px; padding-bottom: 4px;">
                <div style="font-size:14px;line-height:17px;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px">Quantity: <%= line_item.quantity %></p>
                </div>
              </div>

              <div style="padding-right: 0px; padding-left: 0px; padding-bottom: 4px;">
                <div style="font-size:14px;line-height:17px;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px">Price: <%= line_item.price %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
