<p>Dear Customer</p>
<p>We have recieved following order</p>
<br>
<b>Amount: </b><%= @order.amount %>
<br>
<b>Instruction: </b><%= @order.instructions %><br>
<b>Tracking ID: </b><%= @order.tracking_id %>
<br>
