<div class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header colors">
                  <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
                  <h4 class="modal-title">New Time Slot</h4>
                </div>
                <div class="modal-body">
                  <%= render 'form' %>
                </div>
              </div>
            </div>
          </div>
