<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Bookings</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

          <div class="well">
            <%= render "filters" %>
          </div>

          <div class="x_content">
          <% if @bookings.present? %>
            <%= render "partials/bookings" %>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
