<div class="row">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-cube"></i>
      </div>
      <div class="count"><%= @sent_order %></div>
      <h3>Sent</h3>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-cube"></i>
      </div>
      <div class="count"><%= @recieved_order %></div>
      <h3>Recieved</h3>
    </div>
  </div>
</div>
