<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= @user.name %>'s Profile</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <% if @user.is_consumer? %>
              <%= render "consumer_show" %>
            <% elsif %>
              <%= render "driver_show" %>
            <% end %>

          <div><%= link_to 'Back', user_by_role_users_path(role: @user.role, status: @user.status), class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  </div>
</div>
