 .ana-logo {
   width: 90%;
 }

 .nav-margin {
   margin-top: 3%;
   margin-bottom: 35%;
   padding-left: 7%
 }

 .modal-dialog{
    width: 35%;
 }

 .new_time_slot{
    width: 60%;
    margin-left: 20%;
 }
 .edit_time_slot{
    width: 60%;
    margin-left: 20%;
 }

 .actions{
    text-align: center;
 }

 .colors{
    background-color: #2A3F54 !important;
    color: #E7E7E7 !important;
 }

 td{
  vertical-align: middle !important;
 }

 tr, th{
  text-align: center !important;
 }

 .fields{
    width: 94.5% !important;
 }

  .view_head{
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    border-bottom: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 152px !important;
  }

  .view_field{
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width: 40% !important;
    padding: 6px 12px;
    font-size: 14px;
  }

  .timeslot{
     width: 60%;
     float: left;
  }

  .csv_form{
    width: 24%;
    margin-top: 1%;
  }

  @media screen and (max-width: 768px) {
    .view_field{
      width: 100% !important;
    }
  }

  @media screen and (max-width: 480px) {
    .scroll{
      overflow-x: scroll;
    }
    .timeslot{
      width: 100%;
    }
    #timeslot_btn{
      float: left !important;
    }
    .well {
        padding: 10px;
        height: 90px;
    }
    .csv_form{
      width: 45%;
      margin-top: 2.5%;
      margin-left: 52px;
    }
  }

  @media screen and (max-width: 380px) {
    #info_well{
      display: block !important;
    }
    #user_info{
      width: 100% !important;
    }
    .x_panel{
      padding-left: 8px;
      padding-right: 8px;
    }
    #search_form1{
      display: none;
    }
    #search_form2{
      display: inline !important;
    }

  }

  .csv_upload input[type="file"] {
    display: block;
    width: 11px;
    height: 0px;
    opacity: 0;
  }

