 .ana-logo {
   width: 90%;
 }

 .nav-margin {
   margin-top: 3%;
   margin-bottom: 35%;
   padding-left: 7%
 }

 .modal-dialog{
    width: 35%;
 }

 .new_time_slot{
    width: 60%;
    margin-left: 20%;
 }
 .edit_time_slot{
    width: 60%;
    margin-left: 20%;
 }

 .actions{
    text-align: center;
 }

 .colors{
    background-color: #2A3F54 !important;
    color: #E7E7E7 !important;
 }

 td{
  vertical-align: middle !important;
 }

 tr, th{
  text-align: center !important;
 }

 .fields{
    width: 94.5% !important;
 }

  @media screen and (max-width: 380px) {
      .well {
          padding: 10px;
      }
      .x_panel{
        padding-left: 8px;
        padding-right: 8px;
      }
      #search_form1{
        display: none;
      }
      #search_form2{
        display: inline !important;
      }
  }
