<table id="datatable" class="table table-striped table-bordered" style="margin: 0px;">
  <thead>
    <tr class="colors">
      <th colspan=2>Polygons</th>
    </tr>
  </thead>
</table>
<div class="scroll" style="height: 503px;overflow-y: scroll;">
  <table id="datatable" class="table table-striped table-bordered">
    <tbody class='map_list'>
      <% @map.each_with_index do |map, index| %>
        <%= render 'map_entry', map: map, index: index %>
      <% end %>
    </tbody>
  </table>
</div>
