<div class="scroll" style="height: 540px;overflow-y: scroll;">
  <table id="datatable" class="table table-striped table-bordered">
    <thead>
      <tr class="colors">
        <th>Polygons</th>
      </tr>
    </thead>
    <tbody class='map_list'>
      <% @map.each do |map| %>
        <%= render 'map_entry', map: map %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="dataTables_paginate paging_simple_numbers">
    <%= paginate @map, window: 4 %>
</div>
