<div class="x_content scroll">
  <table id="datatable" class="table table-striped table-bordered">
    <thead>
      <tr class="colors">
        <th>Name</th>
        <th>Points</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class='map_list'>
      <% @map.each do |map| %>
        <%= render 'map_entry', map: map %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="dataTables_paginate paging_simple_numbers">
    <%= paginate @map, window: 4 %>
</div>
<br>
<%= page_entries_info @map, :entry_name => 'polygons' %>
<br>
