<script src="//maps.google.com/maps/api/js?key=AIzaSyBRXZRZ2D2sB0lqQhBDsm619tV471Y5zFw"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<script type="text/javascript">
var draw = false;
var polygons = [];
var index = 0;

handler = Gmaps.build('Google');

$(function() {
   handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      var Qatar = [
         {"lat":25.426063,"lng":51.181199}
      ];
      handler.bounds.extendWith(handler.addPolygons(<%=raw @hash.to_json %>,{ strokeColor: '#5A738E'}));
      google.maps.event.addListener(handler.map.getServiceObject(),'click',function(event){
         if (draw == true)
         {
            if (index == 0)
            {
               handler.bounds.extendWith(handler.addPolygons(
                  [[
                     { lat: event.latLng.lat(), lng: event.latLng.lng() }
                  ]],{ strokeColor: '#5A738E'}
               ));
            }
            else
            {
               handler.bounds.extendWith(
                  handler.addPolygons(
                  [
                     [
                        {lat: polygons[index-1]['lat'], lng: polygons[index-1]['lng']},
                        {lat: event.latLng.lat(), lng: event.latLng.lng()}
                     ]
                  ],{ strokeColor: '#5A738E'}
               ));
            }
           polygons.push({lat:event.latLng.lat(), lng:event.latLng.lng()});
           index += 1;
         }
      });
      handler.map.centerOn(Qatar);
      handler.fitMapToBounds();
      handler.getMap().setZoom(9);
   });
});

function save_polygons(){
   draw = !draw;
   if (draw == false)
   {
      $("#polygon_name").modal();
      document.getElementById("draw_btn").className = "btn btn-info"
      /*name_field = document.getElementById("name_field");
      var name = name_field.value;
      name_field.style.display = "none";*/
      if (index != 0)
      {
         handler.bounds.extendWith(handler.addPolygons(
            [
               [
                  {lat:  polygons[index-1]['lat'], lng: polygons[index-1]['lng']},
                  {lat:  polygons[0]['lat'], lng: polygons[0]['lng']}
               ]
            ],{ strokeColor: '#5A738E'}
         ));
         handler.bounds.extendWith(handler.addPolygons([polygons],{ strokeColor: '#5A738E'}));
         jQuery.ajax({
            data: { name, polygons },
            type: 'get',
            url: "/save_polygon"
         });
      }
   }
   else
   {
      document.getElementById("draw_btn").className = "btn btn-primary"
   }
}
function send_polygons(){
   name_filed = document.getElementById("draw_btn");
    name_field.value = "";
      polygons = [];
      index = 0;
}
</script>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left" style="width: 20%;">
        <h3>Map</h3>
         </div>
            <button id="draw_btn" class="btn btn-info" style="float: right;" onclick='save_polygons()'><i class="fa fa-pencil"></i></button>
         <div>
         <div id="polygon_name" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header colors">
                  <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
                  <h4 class="modal-title">New Time Slot</h4>
                </div>
                <div class="modal-body">
                  <%= text_field_tag 'name', nil, placeholder: "Name...", id: "name_field", class: "form-control"%>
                  <br>
                  <button type="button" class="btn btn-info" style="float; right;" data-dismiss="modal" onclick='send_polygons()'>Done</button>
                </div>
              </div>
            </div>
         </div>
      </div>
      <div style='width: 100%;'>
        <div id="map" style='width: 100%; height: 500px;'></div>
      </div>
    </div>
  </div>
</div>
